body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  box-sizing: border-box;
  font-family: "Microsoft Yahei",sans-serif;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
&:focus {
   outline: none;
 }
}
*,
*:before,
*:after{
  box-sizing: border-box;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html,body{
  //height: 100%;
  width: 100%;
  /*background-color: #F5F5F5;*/
}

.clearfix:after,
.clear:after{
  content: '';
  display: block;
  clear: both;
}
.clearfix,
.clear{
  zoom:1;
}

.back_img{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.margin{
  margin: 0 auto;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 两行文本溢出省略号 */
.linetwo{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.paddingTop{
  padding-top: 1.95rem;
}

/* 1px border */
.left1pxBorder{
  position: relative;

  &:after{
    content:'';
    position:absolute;
    left:0px;
    top:0;
    display:block;
    width:1px;
    height:100%;
    border-left:1px solid rgba(0,0,0,.1);
    transform:scaleX(0.5);
  }
}
.right1pxBorder{
  position: relative;

  &:before{
    content:'';
    position:absolute;
    right:0px;
    top:0;
    display:block;
    width:1px;
    height:100%;
    border-right:1px solid rgba(0,0,0,.1);
    transform:scaleX(0.5);
  }
}
.top1pxBorder{
  position: relative;

  &:before{
    content:'';
    position:absolute;
    top:0px;
    left:0;
    display:block;
    width:100%;
    height:1px;
    border-top:1px solid #ddd;
    transform:scaleY(0.5);
  }
}
.bottom-1px{
  position: relative;

  &:before{
    content:'';
    position:absolute;
    bottom:-1px;
    left:0;
    display:block;
    width:100%;
    height:1px;
    border-top:1px solid #ddd;
    transform:scaleY(0.5);
  }
}
/* floor-title公共样式 */
.title__bg{
  width:100%;
}
.title__img {
  position: absolute;
  height: 73.6%;
  top: 13%;
  left: 0;
  width: 100%;
  text-align: center;
  img {
    display: inline-block;
    height: 100%;
  }
}
.floor-title-img{
  position:relative;
  .floor-title-bgimg{
    width:100%;
  }
  .title-img-con{
    position: absolute;
    height: 73.6%;
    top: 13%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .title-img{
    display: inline-block;
    height: 100%;
  }
}

/* floor item title */
.floor-item{
  padding:7px;
  .title{
    font-size:16px;
  }
  .desc{
    font-size:12px;
  }
}

/* 懒加载 */
image[lazy=loading] {
  width: 40px;
  height: 300px;
  margin: auto;
}

@import 'mixin/1px';
