$museTthemColor: #009688;
.mu-text-field{
  width:95%;
}
.mu-text-field.multi-line{
  width:91%;
}
.mu-date-picker{
  width:50%;
  .mu-text-field-icon{
    width:25px;
    overflow: hidden;
  }
}
.mu-time-picker{
  width:46%;
}
.mu-text-field-label{
  font-size: 18px;
  color: $museTthemColor;
}
.mu-text-field-icon.mu-icon{
  color:$museTthemColor;
}
.text-area{
  background:$museTthemColor;
  height:2px;
}
.mu-text-field-focus-line.error{
  background:$museTthemColor;
}

//  picker input边框设置
.mu-date-picker,
.mu-time-picker{
  .has-border{
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background-image: none;
    text-indent: 10px;
  }
  .mu-text-field-line{
    height:0;
  }
  // picker field设置
  .mu-text-field-hint.show{
    font-size:12px;
    text-indent: 10px;
  }
}
